.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

.container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

.container footer span {
  margin: 5px
}

.title {
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 2px;
  cursor: default;
}

.title span {
  margin: 3px;
  font-size: 2rem;
  vertical-align: sub;
  text-transform: uppercase;
}